#guide-content {
  color: white;
}

.heading {
  padding-left: 10px;
}

.heading h2 {
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.heading .date-published {
  margin: 0;
  margin-top: 5px;
  padding-left: 10px;
}

.heading .author {
  margin: 0;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 700px;
  max-height: 700px;
}

.image-container img:hover {
  transform: scale(1.01);
}

.overview #overview-title {
  font-size: 32px;
}

.overview {
  padding-left: 10px;
}
