.content-frame {
  display: grid;
  grid-template-columns: 15vw 1fr;
}

.sidebar h2 {
  margin: 0;
}

.sidebar {
  width: 15vw;
  height: calc(100vh - 100px);
  margin-top: 0;
  background: #333;
  position: flex;
  display: grid;
  grid-template-rows: 30px 1fr;
}

.sidebar-title h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #fff;
  font-size: 30px;
}

.sidebar-content {
  display: flex;
}

.add-guide button {
  width: 15vw;
  height: 50px;
  background-color: forestgreen;
  font-size: 18px;
}

#map-list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  background-color: aquamarine;
  width: 15vw;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
}

.list-item:hover {
  transform: scale(1.05);
}

.list-item button {
  font-size: 18px;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
