.sidebar h2 {
  margin: 0;
}

.sidebar {
  width: 20vw;
  height: calc(100vh - 150px);
  margin-top: 0;
  background: cyan;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.sidebar-title h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: larger;
}

.add-guide button {
  width: 20vw;
  height: 50px;
}

.content-frame {
  display: grid;
}
