body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#guide-content {
  color: white;
}

.heading {
  padding-left: 10px;
}

.heading h2 {
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.heading .date-published {
  margin: 0;
  margin-top: 5px;
  padding-left: 10px;
}

.heading .author {
  margin: 0;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 700px;
  max-height: 700px;
}

.image-container img:hover {
  transform: scale(1.01);
}

.overview #overview-title {
  font-size: 32px;
}

.overview {
  padding-left: 10px;
}

.navbar {
  background-color: #02330d;
  padding-left: 15px;
  padding-right: 30px;
  position: sticky;
}

.navbar h1 {
  margin: 0;
}

.navdiv {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-icon h1 a {
  font-size: 40px;
  color: #e3ca94;
  text-decoration: none;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-section .username {
  font-size: 20px;
  color: #e3ca94;
  text-decoration: none;
  padding-right: 10px;
}

.profile-section .username:hover {
  color: #f2d79d;
}

.profile-section .profile-pic {
  font-size: 50px;
  color: #e3ca94;
}

.profile-section .profile-pic:hover {
  color: #f2d79d;
}

.content-frame {
  display: grid;
  grid-template-columns: 15vw 1fr;
}

.sidebar h2 {
  margin: 0;
}

.sidebar {
  width: 15vw;
  height: calc(100vh - 100px);
  margin-top: 0;
  background: #333;
  position: flex;
  display: grid;
  grid-template-rows: 30px 1fr;
}

.sidebar-title h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #e3ca94;
  font-size: 30px;
}

.sidebar-content {
  display: flex;
}

.add-guide button {
  width: 15vw;
  height: 50px;
  background-color: forestgreen;
  font-size: 18px;
}

#map-list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  background-color: aquamarine;
  width: 15vw;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
}

.list-item:hover {
  transform: scale(1.05);
}

.list-item button {
  font-size: 18px;
  height: 100%;
  width: 100%;
  background-color: green;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
