.navbar {
  background-color: #02330d;
  padding-left: 15px;
  padding-right: 30px;
  position: sticky;
}

.navbar h1 {
  margin: 0;
}

.navdiv {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-icon h1 a {
  font-size: 40px;
  color: #e3ca94;
  text-decoration: none;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-section .username {
  font-size: 20px;
  color: #e3ca94;
  text-decoration: none;
  padding-right: 10px;
}

.profile-section .username:hover {
  color: #f2d79d;
}

.profile-section .profile-pic {
  font-size: 50px;
  color: #e3ca94;
}

.profile-section .profile-pic:hover {
  color: #f2d79d;
}
