.sidebar {
  width: 18vw;
  background-color: #333;
  height: 100vh;
  overflow: hidden;
}

.icon {
  background-color: #02330d;
  display: flex;
  font-size: 20px;
  padding: 5px;
}

.icon a {
  text-decoration: none;
  color: white;
}

.filter-list li {
  color: white;
}
